.layoutDefault {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  flex-grow: 1;
  position: relative;
}

.layoutDefault__body {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: calc(100dvh - 60px);
}

.layoutDefault__sidebar {
  border-right: 1px solid lightgray;
}

.layoutDefault__content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 24px;
  overflow-y: auto;
}
