.loader {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.loader__inner {
  color: inherit;
  border: 2px solid;
  border-radius: 50%;
  border-right-color: transparent !important;
  flex-shrink: 0;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
