* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  font: inherit;
  color: inherit;
  text-size-adjust: none;
  appearance: none;

  &:focus-visible {
    box-shadow: 0 0 0 0.2rem rgb(8, 129, 90, 25%);
  }
}

*:before,
*:after {
  box-sizing: border-box;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

img,
object,
embed {
  max-width: 100%;
}

ol,
ul {
  list-style-type: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

input[type='button'],
input[type='submit'],
input[type='checkbox'],
input[type='file'],
button,
label {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

textarea {
  overflow: auto;
  resize: vertical;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

a {
  background: transparent;
  text-decoration: none;
}

b {
  font-weight: bolder;
}

svg {
  fill: currentColor;
  transform: translateZ(0);
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  background-color: #f6f6f6;
  font:
    400 14px/1.22 'Manrope',
    'Arial',
    'Helvetica',
    sans-serif;
  color: #2b312c;
  -webkit-tap-highlight-color: transparent;
}

.app {
  height: 100%;
  overflow: hidden;
}
